* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    list-style: none;
}

body {
    display: flex;
    min-height: 100vh;
    background: #121212;
    color: white;
}

.sidebar {
    position: absolute;
    width: 60px;
    height: 100vh;
    background: #ff0077;
    transition: .5s;
    overflow: hidden;
}

.sidebar:hover {
    width: 300px;
}

.sidebar ul li a {
    display: flex;
}