* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #0e0e11, #1a1a20);
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #141419;
  padding: 35px;
  border-radius: 16px;
  width: 480px;
  box-shadow: 0 0 25px rgba(230, 0, 126, 0.15);
  animation: fadeIn 0.8s ease;
}

h2 {
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: #ff007f;
  letter-spacing: 1px;
}



label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  color: #bbb;
  font-weight: 500;
}


select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #2a2a32;
  border-radius: 8px;
  background-color: #1e1e24;
  color: #bab2b2;
  font-size: 14px;
  transition: all 0.3s ease;
}

select:focus, textarea:focus {
  border-color: #ff007f;
  outline: none;
}

textarea {
  height: 130px;
  resize: none;
}

/* Botão */
.btn {
  display: block;
  width: 160px;
  margin: 25px auto 0;
  padding: 12px;
  background-color: transparent;
  border: 2px solid #ff007f;
  color: #ff007f;
  font-size: 15px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.check-line{
  display: flex;
  width:200px;
}
.check {
  margin-left: 5px;
}

.status {
  cursor: pointer;
  transition: all 0.3s ease;
}

::-webkit-scrollbar {
  display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0; 
    width: 60px;
    height: 100vh;
    background: #1f1f1f;
    transition: .5s;
    overflow: hidden;
}

.sidebar:hover {
    width: 200px;
    color: white;
}

.sidebar ul li:hover {
    background: #ff0077;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.sidebar ul li a {
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar ul li .icone {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    min-width: 60px;
    height: 60px;
    color: #ff0077;
}

.sidebar ul li.logo {
    margin-bottom: 10px;
}

.sidebar ul li.logo:hover {
    background: none;
}


.sidebar ul li.logo .icone {
    font-size: 2.5rem;
}

.sidebar ul li.logo .titulo {
    font-size: 1rem;
    font-weight: 500;
    color: #ff0077;
}

.sidebar ul li.logo img {
    width: 80px;
    height: 40px;
    object-fit: cover;
}

.sidebar ul li .titulo {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    color: #333;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: .05rem;
}

.sidebar ul li.Conta {
    position: absolute;
    bottom: 60px;
    width: 100%;
}

.sidebar ul li.Conta .imgCaixa {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.sidebar ul li.Conta img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar ul li:last-of-type {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.projetos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  width: 100vw;
  height: 100vh;
}
