* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #1c1f22;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    text-align: center;
    width: 350px;
}

.logo {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
}

.subtitle {
    font-size: 12px;
    margin-bottom: 25px;
}

form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 2px solid #ff2e6a;
    background: none;
    color: white;
    font-size: 14px;
    outline: none;
}

.btn {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    opacity: 0.9;
}

.btn:nth-child(4) {
    margin-top: 0;
}

.btn.google {
    background: #ff2e6a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.btn img {
    width: 20px;
    height: 20px;
}

.divider {
    margin: 20px 0;
    display: flex;
    align-items: center;
    text-align: center;
    color: #bbb;
}

.divider::before, .divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #666;
}

.divider:not(:empty)::before {
    margin-right: .75em;
}

.divider:not(:empty)::after {
    margin-left: .75em;
}
